*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
/* .cleaner {
    overflow: hidden;
} */
.container{
    width: 100%;
    border: 1px solid blue;
    margin:0 auto;
}
/* top 导航 */
.top_nav{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: black;
}
.top_nav>div{
    width: 88%;
    height: 20px;
    margin: 9px auto;
    display: flex;
    justify-content: end;
    font-size: 14px;
}
.top_nav ul{
    display: flex;
    align-items: center;
    color: #fff;
}
.top_nav li{
   line-height: 20px;
   margin-right: 30px;
}
.top_nav>div>div{
    line-height: 20px;
    height: 20px;
    display: flex;
    color: #fff;
    align-items: center;
}
.top_nav>div>div>span:nth-of-type(2){
    width: 1px;
    height: 14px;
    background-color: #fff;
    margin: 8px 8px 8px 8px;
}g
.top_nav img{
    margin-left: 15px;
}
/* top2 导航 */
.top2_nav{
    width: 100%;
    height: 60px;
}
.top2_nav div{
    width: 84%;
    height: 100%;
    display: flex;
    color:rgb(102, 102, 102);
    margin: 0 auto;
    font-size: 16px;
    font-family: '微软雅黑';
    justify-content: start;
    align-items: center;
}
.top2_nav div img{
    height: 31px;
    margin-right: 60px;
}
.top2_nav div ul{
    display: flex;
    justify-content: start;
}
.top2_nav div ul li{
    padding:0 20px 0 20px;
    margin-right: 20px;
}
.top2_nav div ul li:nth-of-type(5){
    margin-right: 0;
}
/* content start*/
.content{
    width: 100%;
    height: 1005px;
    box-sizing: border-box;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
}
/* search */
.search{
    width: 100%;
    height: 42px;
    padding: 20px 0 20px 0;
    margin: 0 auto;
}
.search>div{
    width: 59.5%;
    height: 42px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
    background-color: #fff;
    box-sizing: border-box;
}
.sl{
    min-width: 88px;
    height: 42px;
    line-height: 42px;
}
.pos{
    height: 42px;
}
.pos p{
    font-size: 12px;
    margin-left: 20px;
    display: inline-block;
}
.pos i{
    margin:0 14px 0 13px;
    font-size: 6px;
}
.sc{
    height: 22px;
    min-width:632px;
    line-height: 42px;
    box-sizing: border-box;
    border-left: 1px dashed #f2f2f2;
}
.sc input{
    width: 630px;
    height: 22px;
    display: block;
    box-sizing: border-box;
    padding:0 20px 0 12px;;
    outline: none;
    border: 0;
}
.sr{
    min-width: 80px;
    height: 42px;
    color: #fff;
    font-size: 12px;
    background-color: #11c591;
    text-align: center;
    line-height: 42px;
}
.sr>div{
    display: inline-block;
}
.sr div div{
    display: inline-block;
    vertical-align:top;
}
/* work */
.work{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 374px;
    margin-bottom: 32px;
    background-color: palevioletred;
}
.work>div{
    width: 100%;
    height: 100%;
}
.cycle_img{
    width: 100%;
    height: 100%;
}
.cycle_img img{
    width: 100%;
    height: 100%;
}
.item{
    width: 186px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 112px;
    background-color: rgba(0, 0, 0, 0.18);
}
.item ul{
    margin: 22px 24px 0 20px;
}
.item ul li{
    width: 142px;
    display: inline-block;
    line-height: 12px;
    margin-bottom: 42px;
}
.item ul li p{
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item ul li p:nth-of-type(2){
    float: right;
}
.item ul li p:nth-of-type(2) i{
    font-size: 12px;
}
.work button{
    position: absolute;
    top: 160px;
    width: 36px;
    height: 36px;
    margin-bottom: 30px;
    color: #fff;
    border: 0;
    border-radius: 50%;
    background-color: rgba(31, 45, 61, 0.11);
}
.l_button{
    left: 16px;
}
.r_button{
    right:16px;
}
.point{
    width: 84px;
    position: absolute;
    left: 50%;
    top: 352px;
    margin-left: -42px;
    /* background-color: #11c591; */
}
.point li{
    width: 10px;
    height: 10px;
    float: left;
    background-color: #fff;
    margin-right: 6px;
    border-radius: 50%;
}
/* employ */
.employ{
    width: 100%;
}
.employ>div{
    width: 83.5%;
    margin: 0 auto;
    background-color: rebeccapurple;
}
.etitle{
    width: 100%;
    height: 18px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 23px;
    box-sizing: border-box;
    border-left: 4px solid #17ac82;
}
.etitle p{
    height: 18px;
    line-height: 18px;
    margin-left: 10px;
    font-family:'微软雅黑';
}
.detail{
    width: 100%;
    font-size: 0;
}
.detail>div{
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 40px;
    min-width: 354px;
    height: 162px;
    padding: 20px;
    box-sizing: border-box;
    background-color: pink;
}
.detail>div:nth-of-type(3),
.detail>div:nth-of-type(6){
    margin-right: 0;
}
.detail>div p{
    display: inline-block;
    background-color: greenyellow;
}
.type{
    /* width: 50px; */
    background-color: black;
}
.type p{
    width: 50%;
    color: #333;
    font-size: 12px;
}
.loc{
    width: 50px;
    background-color:palevioletred;
}
.coname{
    width: 50px;
    background-color: lightblue;
}
.coname img{
    width: 26px;
    height: 26px;
}
/* content end */