@font-face {
  font-family: "iconfont"; /* Project id 3619294 */
  src: url('iconfont.woff2?t=1661847231212') format('woff2'),
       url('iconfont.woff?t=1661847231212') format('woff'),
       url('iconfont.ttf?t=1661847231212') format('truetype');
}

@font-face {
  font-family: "iconfont"; /* Project id 3619348 */
  src: url('iconfont1.woff2?t=1661847938035') format('woff2'),
       url('iconfont1.woff?t=1661847938035') format('woff'),
       url('iconfont1.ttf?t=1661847938035') format('truetype');
}
@font-face {
  font-family: "iconfont"; /* Project id 3619526 */
  src: url('iconfont2.woff2?t=1661850697400') format('woff2'),
       url('iconfont2.woff?t=1661850697400') format('woff'),
       url('iconfont2.ttf?t=1661850697400') format('truetype');
}


.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e86e";
}

.icon-shouji:before {
  content: "\e600";
}
.icon-search:before {
  content: "\e648";
}
.icon-jinrujiantou:before {
  content: "\e88e";
}


