@font-face {
  font-family: "iconfont"; /* Project id 3620664 */
  src: url('iconfont.woff2?t=1661914338731') format('woff2'),
       url('iconfont.woff?t=1661914338731') format('woff'),
       url('iconfont.ttf?t=1661914338731') format('truetype');
}
@font-face {
  font-family: "iconfont"; /* Project id 3624020 */
  src: url('iconfont1.woff2?t=1662018041975') format('woff2'),
       url('iconfont1.woff?t=1662018041975') format('woff'),
       url('iconfont1.ttf?t=1662018041975') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-552cc1b6033d0:before {
  content: "\e601";
}
.icon-search:before {
  content: "\e651";
}
