*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
/* .cleaner {
    overflow: hidden;
} */
.container{
    width: 100%;
    border: 1px solid blue;
    margin:0 auto;
}
/* top 导航 */
.top_nav{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: black;
}
.top_nav>div{
    width: 88%;
    height: 20px;
    margin: 9px auto;
    display: flex;
    justify-content: end;
    font-size: 14px;
}
.top_nav ul{
    display: flex;
    align-items: center;
    color: #fff;
}
.top_nav li{
   line-height: 20px;
   margin-right: 30px;
}
.top_nav>div>div{
    line-height: 20px;
    height: 20px;
    display: flex;
    color: #fff;
    align-items: center;
}
.top_nav>div>div>span:nth-of-type(2){
    width: 1px;
    height: 14px;
    background-color: #fff;
    margin: 8px 8px 8px 8px;
}
.top_nav img{
    margin-left: 15px;
}
/* top2 导航 */
.top2_nav{
    width: 100%;
    height: 60px;
}
.top2_nav div{
    width: 88%;
    height: 100%;
    display: flex;
    color:rgb(102, 102, 102);
    margin: 0 auto;
    font-size: 16px;
    font-family: '微软雅黑';
    justify-content: start;
    align-items: center;
}
.top2_nav div img{
    height: 31px;
    margin-right: 60px;
}
.top2_nav div ul{
    display: flex;
    justify-content: start;
}
.top2_nav div ul li{
    padding:0 20px 0 20px;
    margin-right: 20px;
}
.top2_nav div ul li:nth-of-type(5){
    margin-right: 0;
}
/* content start*/
.content{
    width: 100%;
    height: 1005px;
    box-sizing: border-box;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
}
/* search */
.search{
    width: 100%;
    height: 42px;
    padding: 20px 0 20px 0;
    margin: 0 auto;
}
.search>div{
    width: 100%;
    height: 42px;
    background-color: salmon;
    box-sizing: border-box;
    border: 1px solid salmon;
}
/* content end */